* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* CORES */
  --vermelho-base: #ee0c00;
  --amarelo: #fff94f;
  --preto: #14110f;
  --branco: #e6e6ea;

  /* colocar a cor base (vermelho) junto ao elemento [background: gradiente, base] */
  --gradiente-vermelho: linear-gradient(
    135deg,
    #a6251d33 0%,
    #a6251d33 50%,
    #e6e6ea33 100%
  );

  --gradiente-amarelo: linear-gradient(
    135deg,
    var(--amarelo) 100%,
    var(--branco) 100%
  );
  --gradiente-card: linear-gradient(
    135deg,
    var(--vermelho-base) 28%,
    var(--amarelo) 100%
  );

  /* FONTES */
  --font-family1: "Inter", sans-serif;
  --font-family2: "Montserrat Alternates", sans-serif;
  /* DESKTOP */
  --h1-dk: 700 2.25rem/normal var(--font-family2);
  --h2-dk: 700 2rem/normal var(--font-family2);
  --ph-dk: 400 1.25rem/normal var(--font-family1);
  --ph-bloco-dk: 400 1rem/normal var(--font-family1);

  /* adicionar a especificação da font e letter-spacing no elemento */
  --bloco-h3-dk: 700 2rem/normal var(--font-family2);
  --bloco-h3-dk-letra: -0.1rem;
  --bloco-destaque-dk: 900 2rem/normal var(--font-family2);
  --bloco-destaque-dk-letra: -0.1rem;

  --footer-dk: 700 1.25rem/normal var(--font-family1);
  --footer-destaque-dk: 700 1rem/normal var(--font-family1);

    /* TABLET */
  --h1-tb: 700 1.875rem/normal var(--font-family2);
  --h2-tb: 700 1.5rem/normal var(--font-family2);
  --ph-tb: 400 1.25rem/normal var(--font-family1);
  --ph-bloco-tb: 400 1rem/normal var(--font-family1);

  /* adicionar a especificação da font e letter-spacing no elemento */
  --bloco-h3-tb: 700 1.5rem/normal var(--font-family2);
  --bloco-h3-tb-letra: -0.075rem;
  --bloco-destaque-tb: 900 1.5rem/normal var(--font-family2);
  --bloco-destaque-tb-letra: -0.075rem;

  --footer-tb: 700 1rem/normal var(--font-family1);
  --footer-destaque-tb: 700 0.875rem/normal var(--font-family1);

  /* MOBILE */
  --h1-mb: 700 1.25rem/normal var(--font-family2);
  --h2-mb: 700 1rem/normal var(--font-family2);
  --ph-mb: 400 0.875rem/normal var(--font-family1);
  --ph-bloco-mb: 400 0.625rem/normal var(--font-family1);

  /* adicionar a especificação da font e letter-spacing no elemento */
  --bloco-h3-mb: 700 0.75/normal var(--font-family2);
  --bloco-h3-mb-letra: -0.0225rem
  --bloco-destaque-mb: 900 0.75rem/normal var(--font-family2);
  --bloco-destaque-mb-letra: -0.0225rem

  --footer-mb: 700 0.875rem/normal var(--font-family1);
  --footer-destaque-mb: 700 0.75rem/normal var(--font-family1);
}

body {
  width: 100dvw;
  height: 100dvh;
  background: url("/assets/textures/grid3.png"),
    var(--branco);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--vermelho-base);
}
::-webkit-scrollbar-thumb {
  background-color: var(--branco);
  border-radius: 20px;
}
