* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /* CORES */
  --vermelho-base: #ee0c00;
  --amarelo: #fff94f;
  --preto: #14110f;
  --branco: #e6e6ea;

  /* colocar a cor base (vermelho) junto ao elemento [background: gradiente, base] */
  --gradiente-vermelho: linear-gradient(
    135deg,
    #a6251d33 0%,
    #a6251d33 50%,
    #e6e6ea33 100%
  );

  --gradiente-amarelo: linear-gradient(
    135deg,
    var(--amarelo) 100%,
    var(--branco) 100%
  );
  --gradiente-card: linear-gradient(
    135deg,
    var(--vermelho-base) 28%,
    var(--amarelo) 100%
  );

  /* FONTES */
  --font-family1: "Inter", sans-serif;
  --font-family2: "Montserrat Alternates", sans-serif;
  /* DESKTOP */
  --h1-dk: bold 36px/160% var(--font-family2);
  --h2-dk: bold 32px/150% var(--font-family2);
  --ph-dk: normal 20px/120% var(--font-family1);
  --ph-bloco-dk: normal 16px/120% var(--font-family1);

  /* adicionar a especificação da font e letter-spacing no elemento */
  --bloco-h3-dk: bold 32px/150% var(--font-family2);
  --bloco-h3-dk-letra: -0.05em;
  --bloco-destaque-dk: 900 32px/150% var(--font-family2);
  --bloco-destaque-dk-letra: -0.05em;

  --footer-dk: bold 20px/120% var(--font-family1);
  --footer-destaque-dk: bold 16px/120% var(--font-family1);

  /* MOBILE */
  --h1-mb: bold 20px/160% var(--font-family2);
  --h2-mb: bold 16px/150% var(--font-family2);
  --ph-mb: normal 14px/120% var(--font-family1);
  --ph-bloco-mb: normal 10px/120% var(--font-family1);

  /* adicionar a especificação da font e letter-spacing no elemento */
  --bloco-h3-mb: bold 12px/150% var(--font-family2);
  --bloco-h3-mb-letra: -0.03em;
  --bloco-destaque-mb: 900 12px/150% var(--font-family2);
  --bloco-destaque-mb-letra: -0.03em;

  --footer-mb: bold 14px/120% var(--font-family1);
  --footer-destaque-mb: bold 12px/120% var(--font-family1);
}

body {
  width: 100dvw;
  height: 100dvh;
  background: url("/assets/textures/grid3.png"),
    var(--branco);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--vermelho-base);
}
::-webkit-scrollbar-thumb {
  background-color: var(--branco);
  border-radius: 20px;
}
