#nossa-cara {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.25em;
  gap: 1em;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.625em;
}

h2 {
  font: var(--h2-dk);
  color: var(--preto);
}
#p-cara {
  width: 420px;
}
p {
  font: var(--ph-dk);
  opacity: 70%;
  color: var(--preto);
}

#foto-bloco {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.bloco-linha {
  width: 100%;
}

#img-mercado {
  width: 100%;
  height: 375px;
  border-radius: 1.5rem;
  overflow: hidden;
}
#img-mercado img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* TABLET */
@media (max-width: 1050px) {
  #nossa-cara {
    padding: 6.25rem 1.5rem;
    justify-content: center;
  }
  #img-mercado {
    width: 100%;
    height: 322px;
  }
  .texto {
    padding: 0 0.625rem;
  }
  h2 {
    font: var(--h2-tb);
  }
  p {
    width: fit-content;
    font: var(--ph-tb);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  #nossa-cara {
    padding: 2em 1.5em;
  }
  .texto {
    padding: 0 0.625rem;
    gap: 0.75em;
  }
  h2 {
    font: var(--h2-mb);
  }
  #p-cara {
    width: fit-content;
  }
  p {
    font: var(--ph-mb);
  }
  #img-mercado {
    width: 100%;
    height: 140px;
  }
}
